.teamIdentityContainer {
  position: relative;
  display: grid;
	grid-template-rows: auto 1fr;
	grid-area: teamIdentity;
	height: inherit;
	border-radius: 0 5px 5px 0;
}

.teamIdentityItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.teamLogo {
  height: 75px;
  transform: translateY(-15%);
}
