.teamIdentity {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	grid-area: teamIdentity;
	height: inherit;
	border-radius: 0 5px 5px 0;
}

.teamLogo {
	height: 75px;
	display: flex;
}
