.toolbar {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding:  5px 15px;
  background-color: var(--grey);
  color: rgba(255, 0, 0, 0.7);
  font-weight: bolder;
  border-bottom: 3px solid white;
  border-radius: 0 0 5px 5px;
}

.logo {
  height: 40px;
}