.teamStat {
	padding: 0 8px 0 0;
}

.statName {
	border-bottom: 2px solid black;
	justify-content: center;
}

.statValue {
	display: grid;
	justify-content: center;
	cursor: pointer;
}

.statContainer {
	display: flex;
	align-content: space-around;
	justify-content: center;
	grid-template-columns: 1fr 18px;
}
