.statContainer {
	position: relative;
	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.teamStat {
	display: grid;
	justify-content: center;
	align-items: center;
}

.statName {
  display: grid;
	border-bottom: 2px solid black;
	justify-content: center;
}

.statValue {
	display: grid;
	justify-content: center;
	cursor: pointer;
}
