.teamMember {
  background-color: var(--grey);
  border: 1px solid black;
}

.memberContents {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: center;
  align-content: center;
  height: 150px;
}
