.teamMember {
	background-color: var(--grey);
	border: 1px solid black;
}

.memberContents {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	justify-items: center;
	align-items: center;
	grid-template-rows: repeat(auto-fill, minmax(min-content, auto));
}
