.memberStats {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15px;
}

.memberStatName {
  border-bottom: 2px solid black;
  justify-content: center;
}

.memberStatValue {
  display: grid;
  justify-content: center;
  cursor: pointer;
}
