.mainContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.layout {
  display: grid;
  grid-gap:  20px;
  max-width: 750px;
  /* This allows grids gtr 1fr to fill in all extra space */
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.footer {
  display: grid;
  justify-items: center;
  height: 50px;
  align-items: center;
  background-color: var(--grey);
}



