/* Retrieved from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows */
.incDecArrows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
	background-color: var(--bone);
}

.arrow {
	border: solid var(--red);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
